@import "tailwindcss";

body, #app {
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    :root {
        @apply text-white bg-gray-900;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @apply text-gray-900 bg-white;
    }
}

@theme {
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;
    --color-primary-950: #082f49;
    --color-primary: #235a78;
    --color-secondary: #a72126;
    --color-tertiary: #8B6F4E;
}

.markdown {
    h1 {
        @apply text-3xl font-bold mb-8 mt-4;
    }

    h2 {
        @apply text-2xl font-bold mb-6 mt-3;
    }

    h3 {
        @apply text-xl font-bold mb-4 mt-2;
    }

    h4 {
        @apply text-lg font-bold mb-2 mt-1;
    }

    h5 {
        @apply text-base font-bold mb-2 mt-1;
    }

    h6 {
        @apply text-sm font-bold;
    }

    p {
        @apply text-base mb-2;
    }

    ul {
        @apply list-disc pl-5;
    }

    ol {
        @apply list-decimal pl-5;
    }

    li {
        @apply mb-2;
    }

    blockquote {
        @apply border-l-4 border-gray-300 pl-4 italic text-gray-600;
    }

    code {
        @apply bg-gray-100 px-1 py-0.5 rounded;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}